target/
*.class
*.jar
*.war
*.ear
*.log

.idea/
*.iml
out/
.vscode/
*.swp

.DS_Store
Thumbs.db

.env
init.sql
application.properties
application.yml


*.tmp
*.bak
*.orig
*.rej
*.pid
*.seed
*.cover
*.coverage
*.db
*.sqlite

node_modules/
dist/
build/

logs/
*.log